* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

body {
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.header,.main-section, footer {
  background-color: #1F2937;
}

.header, footer {
  padding: 20px 300px;
  color: #e5e7eb;
  font-size: 18px;
  gap: 10px;
}

footer, .right-links {
  color: #e5e7eb;
  font-size: 18px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}

.header, .main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 600;
}

.right-links {
  display: flex;
  gap: 20px;
}
/* section 1 start */
.main-section {
  padding: 100px 300px;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
}
.left-section h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800; 
}
.left-section p {
  color: #e5e7eb;
  font-size: 18px;
}
.left-section button {
  background-color: #3882F6;
  color: #f9faf8;
  font-weight: 500;
  font-size: 18px;
  border-style: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;

}

.right-section {
  background-color: #767880;
  width: 550px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
}
/* section 1 end */

/* section 2 start */

.secondary-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 300px;
}

.secondary-section h1 {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  padding-bottom: 50px;
}
.subsection {
  display: flex;
  gap: 50px;
}

.subsection-container {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 10px;
}

.subsection-container p {
  color: #1F2937;
}

.border {
  border: 3px solid #3882F6;
  border-radius: 10px;
  width: 150px;
  height: 150px;
}
/* section 2 end */

/* section 3 start */
.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 300px;
  background-color: #e5e7eb;
}
.third-section .quote {
  width: 800px;
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  font-weight: 300;
}

.third-section .author {
  display: flex;
  justify-content: right;
  width: 800px;
  font-weight: 600;
  font-size: 18px;
}
/* section 3 end */

/* section 4 start */
.fourth-section {
  padding: 100px 300px;
}
.fourth-section .container {
  background-color: #3882F6;
  border-radius: 10px;
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  align-items: center;
}
.fourth-section .left-side {
  color: #f9faf8;
}
.fourth-section button {
  display: flex;
  align-items: center;
  color: #f9faf8;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid #f9faf8;
  background-color: #3882F6;
  padding: 10px 30px;
  height: 40px;
}
/* section 4 end */